<a href="https://colab.research.google.com/github/venkatrohithk/coursera-test/blob/main/21BDS0184_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#21BDS0184

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Fertility2.csv")
df.head()

   rownames morekids gender1 gender2   age afam hispanic other  work
0         1       no  female  female  35.0   no       no    no    40
1         2       no  female    male  33.0   no       no    no    52
2         3       no  female  female  28.0   no       no    no    12
3         4       no    male    male  28.0   no       no    no     0
4         5       no  female    male  31.0   no       no    no     0

In [3]:
df.describe()

           rownames           age          work
count  30007.000000  30006.000000  30007.000000
mean   15001.482221     30.354429     19.206352
std     8661.760763      3.383235     21.939757
min        1.000000     21.000000      0.000000
25%     7500.500000     28.000000      0.000000
50%    15001.000000     31.000000      6.000000
75%    22502.500000     33.000000     45.000000
max    30000.000000     35.000000     52.000000

In [4]:
df.shape

(30007, 9)

In [6]:
df.isna().sum()

rownames    0
morekids    0
gender1     0
gender2     0
age         1
afam        0
hispanic    1
other       0
work        0
dtype: int64

In [7]:
df.stack()

0      rownames         1
       morekids        no
       gender1     female
       gender2     female
       age           35.0
                    ...
30006  age           31.0
       afam            no
       hispanic        no
       other           no
       work             0
Length: 270061, dtype: object

In [8]:
df.unstack()

rownames  0         1
          1         2
          2         3
          3         4
          4         5
                   ..
work      30002    22
          30003    12
          30004     0
          30005     0
          30006     0
Length: 270063, dtype: object

In [9]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
30002    False
30003     True
30004     True
30005     True
30006     True
Length: 30007, dtype: bool

In [10]:
df1 = df.drop_duplicates()
df1

       rownames morekids gender1 gender2   age afam hispanic other  work
0             1       no  female  female  35.0   no       no    no    40
1             2       no  female    male  33.0   no       no    no    52
2             3       no  female  female  28.0   no       no    no    12
3             4       no    male    male  28.0   no       no    no     0
4             5       no  female    male  31.0   no       no    no     0
...         ...      ...     ...     ...   ...  ...      ...   ...   ...
29997     29998      yes    male  female  34.0   no       no    no    42
29998     29999      yes    male    male  31.0  yes       no    no    52
29999     30000       no  female  female  29.0   no       no    no     0
30001     29721       no    male    male   NaN   no       no    no     6
30002      5577       no    male  female  33.0   no      NaN    no    22

[30002 rows x 9 columns]

In [11]:
df1.notnull()

,rownames,morekids,gender1,gender2,age,afam,hispanic,other,work
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
29997,True,True,True,True,True,True,True,True,True
29998,True,True,True,True,True,True,True,True,True
29999,True,True,True,True,True,True,True,True,True
30001,True,True,True,True,False,True,True,True,True
30002,True,True,True,True,True,True,False,True,True

In [12]:
df1.isnull()

,rownames,morekids,gender1,gender2,age,afam,hispanic,other,work
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
29997,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False
30001,False,False,False,False,True,False,False,False,False
30002,False,False,False,False,False,False,True,False,False

In [13]:
df1.isnull().sum()

rownames    0
morekids    0
gender1     0
gender2     0
age         1
afam        0
hispanic    1
other       0
work        0
dtype: int64

In [14]:
df1.isnull().sum().sum()

2

In [15]:
df1.count()

rownames    30002
morekids    30002
gender1     30002
gender2     30002
age         30001
afam        30002
hispanic    30001
other       30002
work        30002
dtype: int64

In [16]:
filldf = df1.fillna(0)
filldf

       rownames morekids gender1 gender2   age afam hispanic other  work
0             1       no  female  female  35.0   no       no    no    40
1             2       no  female    male  33.0   no       no    no    52
2             3       no  female  female  28.0   no       no    no    12
3             4       no    male    male  28.0   no       no    no     0
4             5       no  female    male  31.0   no       no    no     0
...         ...      ...     ...     ...   ...  ...      ...   ...   ...
29997     29998      yes    male  female  34.0   no       no    no    42
29998     29999      yes    male    male  31.0  yes       no    no    52
29999     30000       no  female  female  29.0   no       no    no     0
30001     29721       no    male    male   0.0   no       no    no     6
30002      5577       no    male  female  33.0   no        0    no    22

[30002 rows x 9 columns]

In [17]:
print("Mean of age(With NaN): ",df["age"].mean())
print("Mean of age(Without NaN): ",filldf["age"].mean())

Mean of age(With NaN):  30.354429114177165
Mean of age(Without NaN):  30.353343110459303

In [18]:
mean_df = df1["age"].fillna(df1["age"].mean())
mean_df

0        35.000000
1        33.000000
2        28.000000
3        28.000000
4        31.000000
           ...
29997    34.000000
29998    31.000000
29999    29.000000
30001    30.354355
30002    33.000000
Name: age, Length: 30002, dtype: float64

In [19]:
forward_fill = df1["age"].fillna(method='ffill')
forward_fill

<ipython-input-19-5bbe233f59c9>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  forward_fill = df1["age"].fillna(method='ffill')

0        35.0
1        33.0
2        28.0
3        28.0
4        31.0
         ...
29997    34.0
29998    31.0
29999    29.0
30001    29.0
30002    33.0
Name: age, Length: 30002, dtype: float64

In [20]:
backward_fill = df1["age"].fillna(method='bfill')
backward_fill

<ipython-input-20-629c87d495e7>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  backward_fill = df1["age"].fillna(method='bfill')

0        35.0
1        33.0
2        28.0
3        28.0
4        31.0
         ...
29997    34.0
29998    31.0
29999    29.0
30001    33.0
30002    33.0
Name: age, Length: 30002, dtype: float64

In [21]:
categorical_summary = df1.describe(include='object')

0        35.0
1        33.0
2        28.0
3        28.0
4        31.0
         ...
29997    34.0
29998    31.0
29999    29.0
30001     NaN
30002    33.0
Name: age, Length: 30002, dtype: float64